* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

.header {
  padding-bottom: 180px;
  background-image: url("../images/headerBG.png");
  background-color: #ee3d1bcc;
  background-blend-mode: multiply;
}

.container {
  max-width: calc(1440px - 330px);
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.menu {
  list-style: none;
  display: flex;
}
.menu a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.reg {
  display: flex;
  align-items: center;
}

.lang {
  color: white;
  display: flex;
  align-items: center;
}
.lang span {
  margin: 0 12px;
}

.login {
  text-decoration: none;
  color: white;
  margin-left: 28px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
  padding: 11px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 127px;
}

.desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  margin-top: 39px;
  color: #ffffff;
  width: 46%;
}

.desc + button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 16px 52px;
  border: none;
  border-radius: 6px;
  margin-top: 39px;
  color: #ed4c5c;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.desc + button:hover {
  background-color: #ed4c5c;
  color: white;
}

.header-text {
  text-align: center;
}

/* main */

.main {
}
.cloud {
  padding: 95px 0;
}
.cloud .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cloud-text {
  width: 45%;
}
.cloud-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.cloud-desc {
  margin: 24px 0 12px;
  text-align: justify;

  font-size: 14px;
  line-height: 140%;
}

.cloud-pic {
  position: relative;
}

.cloud-play {
  background: #ed4c5c;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s linear;

  position: absolute;
  top: calc((100% - 66px) / 2);
  right: calc(100% - 33px);
}

.cloud-play:hover {
  background: #e32336;
}

.cloud-text .link {
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
  color: #ed4c5c;
}
.link:hover {
  text-decoration: underline;
}

/* FEATURES */

.features {
  /* background: gray; */
  padding: 63px 0 223px;
}
.features-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
.cards {
  margin-top: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cards .card {
  position: relative;
  width: 350px;
}
.card .card-text {
  position: absolute;
  bottom: -35%;
  right: 29px;
  left: 29px;
  padding: 33px 32px 25px 32px;

  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.card-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.card-text p {
  margin: 20px 0 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.card-text a {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  transition: 0.3s;
  text-decoration: none;
  color: #ed4c5c;
}
.card-text a:hover {
  text-decoration: underline;
}

/* Technology */
.technology {
  padding: 63px 0 165px;
  background-color: #fff;
}
.technology-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #000000;
}
.technology-cards {
  margin-top: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-card {
  width: 255px;
  height: 226px;
  text-align: center;
  position: relative;
  padding: 10px 30px;
}
.t-card img {
  position: absolute;
  top: 30%;
  right: 33%;
}
.t-card h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 120px;
  color: rgba(16, 16, 16, 0.08);
}
.t-card h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin: 19px 0 10px;
  color: #101010;
}
.t-card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

/* Money */
.money {
  background: #ed4c5c;
  padding: 95px 0;
}
.money .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.money-text {
  width: 40%;
}
.money-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.money-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  margin: 24px 0 44px;
  color: #ffffff;
}
.money-socially {
  display: flex;
  align-items: center;
}
.money-socially a {
  margin-right: 10px;
}

/*Contact*/
.contact {
  padding: 117px 0;
}
.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.contact-text {
  width: 40%;
}
.contact-inputs {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
  color: #000000;
  margin-top: 50px;
}
.contact-inputs input {
  display: inline-block;
  padding: 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
  outline: none;
}
.contact-inputs input:first-child,
input:nth-child(2) {
  width: 48%;
}
.contact-inputs input:nth-child(3),
input:nth-child(4) {
  width: 100%;
}
.contact-inputs input:nth-child(3) {
  margin: 24px 0;
}
.contact .container button {
  margin-top: 27px;
  border: 1.5px solid #ed4c5c;
  border-radius: 6px;
  border: none;
  background-color: #e32336;
  padding: 17px 34px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}
.contact .container button:hover {
  background-color: #d01a2c;
}
/* FOOTER */

.footer {
  padding: 85px 0;
}
.footer .container {
}
.footer-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.f-card {
  width: 216px;
}
.f-card h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 33px;
  color: #101010;
}
.f-card p {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}

.f-card nav {
  display: flex;
  flex-direction: column;
}
.f-card nav a {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;
}
.f-card:nth-child(3) {
  display: flex;
  flex-direction: column;
}
.f-card .mail,
.number {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: #121212;
  margin-bottom: 11px;
}
.f-socially {
  margin-top: 10px;
}
.f-socially a {
  margin-right: 5px;
  border: 1px solid gray;
  display: inline-block;
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 86px;
  color: #101010;
}
