* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato";
}

.header {
  padding-bottom: 180px;
  background-image: url("../images/headerBG.png");
  background-color: #ee3d1bcc;
  background-blend-mode: multiply;
}

.container {
  max-width: calc(1440px - 330px);
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.menu {
  list-style: none;
  display: flex;
}
.menu a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.reg {
  display: flex;
  align-items: center;
}

.lang {
  color: white;
  display: flex;
  align-items: center;
}
.lang span {
  margin: 0 12px;
}

.login {
  text-decoration: none;
  color: white;
  margin-left: 28px;

  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  display: inline-block;
  padding: 11px 28px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.title {
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 127px;
}

.desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  margin: 0 auto;
  margin-top: 39px;
  color: #ffffff;
  width: 46%;
}

.desc + button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 16px 52px;
  border: none;
  border-radius: 6px;
  margin-top: 39px;
  color: #ed4c5c;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.desc + button:hover {
  background-color: #ed4c5c;
  color: white;
}

.header-text {
  text-align: center;
}

/* main */

.main {
}
.cloud {
  padding: 95px 0;
}
.cloud .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cloud-text {
  width: 45%;
}
.cloud-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
}
.cloud-desc {
  margin: 24px 0 12px;
  text-align: justify;

  font-size: 14px;
  line-height: 140%;
}

.cloud-pic {
  position: relative;
}

.cloud-play {
  background: #ed4c5c;
  width: 66px;
  height: 66px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s linear;

  position: absolute;
  top: calc((100% - 66px) / 2);
  right: calc(100% - 33px);
}

.cloud-play:hover {
  background: #e32336;
}

.cloud-text .link {
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
  color: #ed4c5c;
}
.link:hover {
  text-decoration: underline;
}

/* FEATURES */

.features {
  /* background: gray; */
  padding: 63px 0 223px;
}
.features-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
}
.cards {
  margin-top: 63px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.cards .card {
  position: relative;
  width: 350px;
}
.card .card-text {
  position: absolute;
  bottom: -35%;
  right: 29px;
  left: 29px;
  padding: 33px 32px 25px 32px;

  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.card-text h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.card-text p {
  margin: 20px 0 5px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.card-text a {
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  transition: 0.3s;
  text-decoration: none;
  color: #ED4C5C;
}
.card-text a:hover {
  text-decoration: underline;
}


/* Technology */

